<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidate</servlet-name>
        <servlet-class>admin.LoginValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRegister</servlet-name>
        <servlet-class>admin.CompanyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>admin.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeleteEmp</servlet-name>
        <servlet-class>admin.UpdateDeleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUnblock</servlet-name>
        <servlet-class>admin.BlockUnblock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AChangePassword</servlet-name>
        <servlet-class>admin.AChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>admin.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAttendance</servlet-name>
        <servlet-class>admin.AddAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADDAttendance</servlet-name>
        <servlet-class>emp.ADDAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReport</servlet-name>
        <servlet-class>emp.AttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAttendence</servlet-name>
        <servlet-class>emp.AddAttendence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile1</servlet-name>
        <servlet-class>emp.EditProfile1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidate</servlet-name>
        <url-pattern>/LoginValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRegister</servlet-name>
        <url-pattern>/CompanyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeleteEmp</servlet-name>
        <url-pattern>/UpdateDeleteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUnblock</servlet-name>
        <url-pattern>/BlockUnblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AChangePassword</servlet-name>
        <url-pattern>/AChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAttendance</servlet-name>
        <url-pattern>/AddAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADDAttendance</servlet-name>
        <url-pattern>/ADDAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReport</servlet-name>
        <url-pattern>/AttendanceReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAttendence</servlet-name>
        <url-pattern>/AddAttendence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile1</servlet-name>
        <url-pattern>/EditProfile1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
